backports.functools-lru-cache==1.6.1
brian==1.4.4
cycler==0.10.0
decorator==4.4.2
futures==3.3.0
greenlet==0.4.16
kiwisolver==1.1.0
lazyarray==0.3.3
matplotlib==2.2.5
mpmath==1.1.0
msgpack==1.0.0
neo==0.8.0
networkx==2.2
numpy==1.16.6
pandas==0.24.2
PyNN==0.9.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
quantities==0.12.4
scipy==1.2.3
six==1.15.0
subprocess32==3.5.4
sympy==1.5.1
trollius==2.2.post1
