decorator==4.4.2
lazyarray==0.3.3
mpmath==1.1.0
neo==0.8.0
neovim==0.3.1
networkx==2.2
numpy==1.16.6
pandas==0.24.2
PyNN==0.9.5
pynvim==0.4.1
python-dateutil==2.8.1
pytz==2020.1
quantities==0.12.4
scipy==1.2.3
six==1.15.0
sympy==1.5.1
